@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&family=Parisienne&family=Satisfy&display=swap');



body{
    padding: left right 20px;
    background-image:url(4.jpg);
    background-size:cover;
    background-attachment: scroll;
}
h1{
    font-family: "Pacifico", cursive;
    font-size: 3em;
    text-align: center;
    color: darkgoldenrod;
    padding: bottom 5px;

}
#eslogan{
    font-family: "Caveat", serif;
    font-style: italic;
    text-align: center;
    font-size: 2em;
    color: cornsilk;
    border: solid 2px cornsilk;
    margin: auto;
    width: 40%;
}
#fc {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
h2{
    color: #FFE4C4;
    font-family: "Pacifico", cursive;
}
li a{
    font-size: 1.5em;
    font-family: "Pacifico", cursive;
    text-decoration: none;

}
a:link{
    color: white;
    font-family: "Pacifico", cursive;
}
a:hover{
    font-weight: bold;
    font-family: "Pacifico", cursive;
}
a:active{
    color: darkgoldenrod;
    font-family: "Pacifico", cursive;
}
.textoNormal{
    font-family: "Satisfy", cursive;
    font-size: 1.2em;
    color: #FFE4C4;
    line-height: 2;
    padding: 30px;    
}
#contenedor-logo{
    text-align: center;
}
#fotocarta{
    width: 200px;
    height: 200px;
}
#class{
    background-color: darkgoldenrod;
    font-size: 2em;
    text-shadow: 3px 3px white;
}
table td th{
    border: 3px solid darkgoldenrod;
    border-collapse: collapse;
    vertical-align: center;
    width: 50%;
    padding: 20px;
}
table{
    background-color: cornsilk;
    font-family: "Satisfy", cursive;
    font-size: 1.5em;
    
}